#contact iframe {
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}

input {
    background: grey
}

.travel-main-div {
    border: 1px Solid Grey;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

.travel-main-div img {
    width: 100%;
}

.moviehead {
    display: inline;
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 15px;
}

.movie-text span {
    color: orange;
}

#movie-div-1,
#movie-div-2 {
    width: 100%;
}

.environment-li {
    margin-top: 10px;
}

.environment-li h4 {
    border-bottom: 1px solid orange;
    padding: 8px;
}

.header_enterpreneur {
    line-height: 2;
}

.books {
    cursor: pointer;
}

.img_modal {
    display: inline;
}

.modal-content {
    margin-top: 100px;
}

.modal-body {
    text-align: center;
}